{
    "CN": "etcd cluster",
    "key": {
      "algo": "rsa",
      "size": 2048
    },
    "names": [
      {
        "C": "GB",
        "L": "India",
        "O": "calico",
        "OU": "ETCD-CA",
        "ST": "Nashik"
      }
    ]
  }