[Unit]
Description=etcd

[Service]
Type=notify
ExecStart=/usr/local/bin/etcd \
  --name {{ansible_hostname}} \
  --cert-file=/etc/etcd/pki/etcd.pem \
  --key-file=/etc/etcd/pki/etcd-key.pem \
  --peer-cert-file=/etc/etcd/pki/etcd.pem \
  --peer-key-file=/etc/etcd/pki/etcd-key.pem \
  --trusted-ca-file=/etc/etcd/pki/ca.pem \
  --peer-trusted-ca-file=/etc/etcd/pki/ca.pem \
  --peer-client-cert-auth \
  --client-cert-auth \
  --initial-advertise-peer-urls https://{{ansible_host}}:2380 \
  --listen-peer-urls https://{{ansible_host}}:2380 \
  --advertise-client-urls https://{{ansible_host}}:2379 \
  --listen-client-urls https://{{ansible_host}}:2379,https://127.0.0.1:2379 \
  --initial-cluster-token etcd-cluster-1 \
  --initial-cluster {% for etcd_host in groups['nodes'] %}{% if loop.index != 1 %},{% endif %}node{{loop.index}}=https://{{etcd_host}}:2380{% endfor %} \
  --initial-cluster-state new
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
