{
    "CN": "etcd",
    "hosts": [ "localhost", "127.0.0.1"{% for host in groups['nodes'] %}, "{{ host }}"{% endfor %}],
    "key": {
      "algo": "rsa",
      "size": 2048
    },
    "names": [
      {
        "C": "GB",
        "L": "England",
        "O": "Kubernetes",
        "OU": "etcd",
        "ST": "Cambridge"
      }
    ]
  }