ETCD_ENDPOINTS={% for etcd_host in groups['nodes'] %}{% if loop.index != 1 %}, {% endif %}https://{{etcd_host}}:2379{% endfor %} 
ETCD_KEY_FILE=/etc/etcd/pki/etcd-key.pem
ETCD_CERT_FILE=/etc/etcd/pki/etcd.pem
ETCD_CA_CERT_FILE=/etc/etcd/pki/ca.pem